@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html,
body {
    font-family: "Nunito", sans-serif !important;
}

.subtitle {
    font-weight: 700;
    font-size: larger;
}

.steps-input:focus {
    border-color: #283972 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #283972 !important;
    outline: 0 none !important;
}

.btn-default,
.btn-secondary {
    border-radius: 50px !important;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    padding: 12px 20px 12px 20px !important;
    text-transform: uppercase;
    font-size: 13px !important;
    font-weight: 800;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-default {
    background-color: #283972;
}

.btn-default.anchor {
    text-align: center;
}

.btn-default.anchor:hover {
    text-decoration: none;
    color: white;
}

.btn-secondary {
    background-color: #FF5B5B !important;
}

.btn-width-fit {
    width: fit-content !important;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-default:hover,
.hvr-float:hover,
.btn-secondary:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.btn-default:focus,
.btn-default:active,
.btn-secondary:focus,
.btn-secondary:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-back {
    position: absolute;
    top: 50px;
    left: 100px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

@media only screen and (max-width: 768px) {
    .btn-back {
        left: 50px;
    }
}

.btn-back Button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.btn-back:hover,
.btn-back:focus,
.btn-back:active {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.btn-container-center {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.page-container-1 .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}

.btn-2 {
    margin-top: 10px;
}

.btn-container.center {
    text-align: center;
}

.btn-container.pull-to-bottom {
    position: relative;
    bottom: 0px;
}

.info-btn:hover {
    cursor: help;
}

.modal-content {
    border: none !important;
    outline: none !important;
}

.modal-header .close:focus,
.modal-header .close:active {
    box-shadow: none;
    outline: none;
}

.container {
    justify-content: center;
    width: fit-content;
    max-width: none;
}

.rounded-pill.with-btn-delete {
    padding: 7px 25px 7px 25px;
    position: relative;
    transform: translateX(0px);
}

.intext {
    opacity: 0;
}

input.form-control:focus {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2);
    outline: 0 none;
}

.cfa-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cfa-logo p{
    color: #4B4B4B;
    font-size: 12px;
    margin: 0 0 1px 0;
    padding: 0;
}

.cfa-logo object{
    margin: 0;
    padding: 0;
    height: 15px;
    width: auto;
}

.tooltip #tooltip-top {
    text-align: center !important;
}

.tooltip {
    border-radius: 8px;
    padding: 10px 10px 0 10px !important;
}

.tooltip b {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
}

.tooltip p {
    text-align: left;
}

.tooltip .tooltip-inner {
    background-color: rgba(0, 0, 0, 0);
}

.tooltip .arrow {
    visibility: hidden;
}

.pill-container:hover .intext {
    transform: translateX(-10px);
}

.rounded-pill.with-btn-delete .btn-delete-container {
    position: absolute;
    right: 12px;
}

.rounded-pill {
    background: #ffffff;
    border-radius: 20px;
    padding: 7px 15px 7px 15px;
    margin: 5px;
    display: flex;
}

.form.rounded-pill {
    width: 10rem;
    margin: 0 auto;
}

.pill-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
}

.btn-delete-container,
.btn-delete-container-2 {
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
    transform: scale(0);
    opacity: 0;
}

.btn-delete-container-2 svg {
    height: 17px;
    width: 17px;
    margin-left: 3px;
    margin-bottom: 4px;
}

.rounded-pill:hover .btn-delete-container,
.step-input:hover .btn-delete-container-2 {
    transform: scale(1);
    cursor: pointer;
    opacity: 1;
}

.dark-blue {
    color: #283972;
    margin-top: 10px;
}

.main-header-text {
    text-align: center;
    margin: 30px;
}

.main-header-text p {
    margin: 0;
}

.main-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.main-logo img {
    min-width: 150px;
    width: 14vw;
    margin: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.p-pg-2 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 130px;
}


/* ----- Venn Diagram Labels ----- */

.venn-labels p {
    position: absolute;
}

.venn-labels p.c1 {
    text-align: right;
    font-weight: 700;
    color: #7E88AA;
    top: 408px;
    left: -87px;
    width: 104px;
    z-index: -99;
}

.venn-labels p.c2 {
    text-align: left;
    font-weight: 700;
    color: #FF9D9D;
    top: 403px;
    left: 770px;
    width: 104px;
    z-index: -99;
}

.venn-labels p.c3 {
    text-align: center;
    font-weight: 700;
    color: #5fd6b3;
    top: 788px;
    left: 326px;
    width: 135px;
    z-index: -99;
}

.venn-labels p.c4 {
    text-align: center;
    font-weight: 700;
    color: #f1e161;
    top: 36px;
    left: 290px;
    width: 203px;
    z-index: -99;
}

.venn-labels .behind p {
    position: absolute;
    z-index: -100;
    font-weight: 300;
    font-style: italic;
    color: grey;
    font-size: 1.3em;
}

.venn-labels .behind p.ikigai {
    text-transform: uppercase;
    color: red;
    top: 407px;
    left: 365px;
}

.venn-labels .behind p.vocation {
    top: 285px;
    left: 220px;
}

.venn-labels .behind p.profession {
    top: 285px;
    left: 470px;
}

.venn-labels .behind p.mission {
    top: 541px;
    left: 230px;
}

.venn-labels .behind p.passion {
    top: 541px;
    left: 480px;
}

.venn-labels .behind p.empty {
    top: 316px;
    left: 360px;
    stroke-width: 0.264;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    fill: #4d4d4d;
}

.venn-labels .behind p.useless {
    top: 404px;
    left: 477px;
    stroke-width: 0.264;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    fill: #4d4d4d;
    width: 43px;
}

.venn-labels .behind p.well {
    top: 516px;
    left: 360px;
    stroke-width: 0.264;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    fill: #4d4d4d;
}

.venn-labels .behind p.uncertain {
    top: 405px;
    left: 265px;
    stroke-width: 0.264;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    fill: #4d4d4d;
    width: 50px;
}


/* ----- PAGE 1 ----- */

.page-container-1 {
    position: relative;
    min-height: 100%;
    height: 100vh;
}

.page-container-1 .corner-logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: auto;
    width: 500px;
    text-align: right;
    z-index: 100;
}


.page-container-1 .corner-logo .cfa-logo{
    margin: 10px 0;
    float: right;
    width: fit-content;
}

.page-container-1 .corner-logo .cfa-logo object{
    height: 15px;
    width: 100px;
    margin-left: 10px;
}

.page-container-1 .center-logo {
    height: 260px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.page-container-1 .center-logo img,
.page-container-1 .corner-logo img {
    width: 80%;
    height: auto;
}

.page-container-1 footer {
    background-image: url("./images/shapes.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

@media only screen and (max-width: 1240px) {
    .page-container-1 .center-logo,
    .page-container-1 .corner-logo img {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .page-container-1 .corner-logo {
        top: 5%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


/* ----- PAGE 2 ----- */

.page-container-2,
.page-container-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container-2 img.center {
    width: 450px;
}

.page-container-2 .p-pg-2,
.page-container-3 .p-pg-2 {
    margin: 20px auto;
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .page-container-2 .p-pg-2,
    .page-container-3 .p-pg-2 {
        width: 80%;
    }
}


/* ----- PAGE 3 ----- */

.page-container-3 .container {
    display: block;
}

@media only screen and (max-width: 768px) {
    .page-container-3 .container {
        margin-top: 250px;
    }
}


/* ----- PAGE 4 ----- */

.page-container-4 {
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container-4 .btn-container {
    margin: 50px auto;
}

.page-container-4 .rounded-pill.with-btn-delete {
    overflow: hidden;
}

.rec-container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .page-container-4 .page-content {
        margin-top: 120px;
    }
}

.rectangle-container {
    background: #e1e5ff;
    min-width: 350px;
    width: 40vw;
    height: 40vh;
    margin: 0;
}

.edit-text {
    position: absolute;
    z-index: 1;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.rounded-pill:hover .edit-text {
    transform: translateX(-10px);
}

.edit-text:focus {
    border: none;
    outline: none;
    background: none;
}


/* ----- PAGE 5 ----- */

.page-container-5 {
    height: 130vh;
    position: relative;
}

.page-container-5 .instructions p {
    margin: 0;
}

.container.circle {
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.circle.rounded-pill {
    background: rgb(240, 240, 240);
}

.circle-container {
    width: 450px;
    height: 450px;
    -moz-border-radius: 225px;
    -webkit-border-radius: 225px;
    border-radius: 225px;
    position: relative;
}

.page-container-5 .pill-container {
    max-height: 300px;
    max-width: 200px;
    z-index: 100;
    margin: 0;
}

.page-container-5 .pills-location {
    width: fit-content;
    max-width: 20rem;
    margin: 10px auto;
    margin: 10px auto;
}

.page-container-5 .circle-add {
    margin-top: 100px;
    position: absolute;
    top: 265px;
    left: 830px;
}

.question {
    font-family: Nunito;
    font-size: 1.3em;
    font-weight: 600;
    font-style: bold;
    margin-bottom: .5em;
    margin-top: 2em;
}

.venn-diagram .hid .rounded-pill .intext {
    white-space: nowrap;
}

.venn-diagram .pill-container .rounded-pill,
.venn-diagram .hid .rounded-pill {
    font-size: 0.8em;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    min-width: 30px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: #F5F5F5;
}

.venn-diagram .pill-container .rounded-pill:hover .edit-text,
.venn-diagram .hid .rounded-pill:hover .edit-text {
    transform: translateX(-15px);
}

.venn-diagram .pill-container .rounded-pill:hover .btn-delete-container svg,
.venn-diagram .hid .rounded-pill:hover .btn-delete-container svg {
    height: 15px;
    width: 15px;
    margin-right: -5px;
}

.venn-container {
    position: relative;
    margin: 0 auto;
}

.venn-container .circle-add .pill-container {
    display: block;
}

.answers {
    display: flex;
    font-family: Nunito;
    font-size: 1.1em;
    font-weight: 300;
}

.instructions p {
    margin: 0;
}

.circle {
    opacity: 0.6;
    fill-opacity: .3;
    stroke-width: 2;
    stroke-opacity: 1;
}

.c1 {
    fill: #283972;
    fill-opacity: 0.3;
    stroke: #283972;
    z-index: -99;
}

.c2 {
    fill: #FF5B5B;
    fill-opacity: 0.3;
    stroke: #FF5B5B;
    z-index: -99;
}

.c3 {
    fill: #0EEEAB;
    fill-opacity: 0.3;
    stroke: #0EEEAB;
    z-index: -99;
}

.c4 {
    fill: #FFDF00;
    fill-opacity: 0.3;
    stroke: #FFDF00;
    z-index: -99;
}

.hid {
    position: absolute;
    z-index: 1;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.add-activity-col {
    width: 100px;
}

.filled {
    fill-opacity: .3;
    animation-name: fadeInCircleOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
}

@keyframes fadeInCircleOpacity {
    0% {
        fill-opacity: 0;
    }
    100% {
        fill-opacity: .3;
    }
}

.text {
    font-family: Nunito;
    stroke-width: 0.264;
}

.text-normal {
    font-size: 5px;
    font-weight: 300;
}

.text-small {
    font-size: 2px;
    font-weight: 300;
    font-style: italic;
    fill: #4d4d4d;
    animation-name: fadeInTextOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

@keyframes fadeInTextOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-bold {
    font-size: 7px;
    font-weight: 500;
}

.text-title {
    font-size: 4px;
    font-style: italic;
    font-weight: 500;
    animation-name: fadeInTextOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: .5s;
}

.text-purpose {
    fill: #e73309;
}

.hidden {
    display: none;
}

header {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.step-to-ikigai-btn {
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    background: none;
    z-index: inherit;
}


/* modals */

.btn-modal {
    background: none;
    border: none;
    position: absolute;
    z-index: 200;
    transform: perspective(1px) translateZ(0px);
}

.btn-modal:focus,
.btn-modal:active {
    outline: none !important;
    border: none !important;
}

.page5-left-column {
    position: relative;
}


/* ---- Page 6 ---- */

.card-shadow {
    -webkit-box-shadow: 0 5px 10px -3px rgb(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px -3px rgb(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px -3px rgb(0, 0, 0, 0.1);
}

.page-container-6 {
    margin-top: 8vh;
    text-align: center;
    height: 100%;
}

.page-container-6 .btn-container-center {
    margin: 50px;
}

.page-container-6 .btn-default {
    width: fit-content;
}

.page-container-6 .card {
    width: fit-content;
    margin: 0 auto;
    outline: none;
    border: none;
}

.page-container-6 .card p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.page-container-6 .container.end {
    margin: 50px auto 100px auto;
}

.page-container-6 .end p {
    margin: 0;
}

.page-container-6 .share-container {
    justify-content: center;
}

.page-container-6 .steps-container {
    width: 70%;
}

.export-steps-container h5 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
}

.export-steps-container p.modal-item {
    background-color: #F5F5F5;
    margin: 10px auto;
    padding: 2px 8px 2px 8px !important;
    border-radius: 50px;
    width: fit-content;
    text-align: center;
}

.export-steps-container .col .modal-items-container {
    display: block;
}

.steps-container svg.icon-tabler-trash {
    stroke: #dc3545;
}

.steps-container svg.icon-tabler-plus {
    stroke: white;
}

.steps-container button.btn-delete {
    border: none;
    background: none;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition-delay: 0.1s;
    transform: scale(0);
    opacity: 0;
}

.steps-container li:hover button.btn-delete {
    transform: scale(1);
    cursor: pointer;
    opacity: 1;
}

.steps-container button.btn-delete:hover,
.steps-container button.btn-delete:active,
.steps-container button.btn-delete:focus {
    background: none;
    outline: none;
}

.steps-container .btn-add.disabled,
.steps-container .btn-add:disabled {
    background-color: white !important;
    border-color: #93BC38 !important;
    box-shadow: none !important;
    outline: 0 none !important;
    cursor: not-allowed !important;
}

.btn-primary, .btn-primary.disabled .btn-primary:disabled{
    border-color: none !important;
}

.steps-container .btn-add,
.steps-container .btn-add:hover,
.steps-container .btn-add:active,
.steps-container .btn-add:focus {
    background-color: #93BC38 !important;
    cursor: pointer;
    box-shadow: none !important;
    outline: 0 none !important;
    border-color: #93BC38;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #93BC38 !important;
}

.steps-container button:disabled,
.steps-container button[disabled] {
    background-color: #c6d0f0;
    color: #666666;
}

.steps-container button[disabled]:hover,
.steps-container button[disabled]:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}

.steps-container button.btn-add:disabled svg.icon-tabler-plus {
    stroke: #93BC38 !important;
}

.steps-container button.btn-add svg.icon-tabler-plus,
.steps-container button.btn-add:hover svg.icon-tabler-plus,
.steps-container button.btn-add:hover svg.icon-tabler-trash {
    stroke: white;
}

.steps-container ul {
    list-style-type: none;
    margin-left: 0;
}

.steps-container ul li {
    width: fit-content;
    margin: 0 auto;
}

.share-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.share-container ul li {
    margin: 5px;
}

.share-btn-container {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 10px;
}

.twitter-container {
    background: #1da1f2;
}

.facebook-container {
    background: #2e89ff;
}

.linkedin-container {
    background: #0b66c2;
}

.whatsapp-container {
    background: #00e676;
}

.page-print {
    display: table;
    margin: 0 auto;
}

.print-component {
    display: blcok;
    margin: 0 auto;
}

@media print {
    html,
    body {
        height: initial !important;
        overflow: initial !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .page-break {
        margin-top: 1rem;
        margin-left: 7rem;
        display: block;
        page-break-before: auto;
    }
    .page-break h5.subtitle,
    .export-steps-container {
        margin-left: -7rem;
    }
}

@page {
    size: auto;
    margin: 20mm;
}