@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
html,
body {
    font-family: "Nunito", sans-serif;
}

.background-1 {
    background-image: url("./images/background-1.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background-2 {
    text-align: center;
}

.btn-default {
    background-color: #283972 !important;
    border-radius: 0 0 0 0;
    color: white;
    width: 150px;
    margin-top: 600px;
}

.btn-2 {
    margin-top: 10px;
}

.btn-container.center {
    text-align: center;
}

.container {
    justify-content: center;
}

.rounded-pill.with-btn-delete {
    padding: 7px 25px 7px 25px;
    position: relative;
    transform: translateX(0px);
}

.rounded-pill .intext {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rounded-pill:hover .intext {
    transform: translateX(-10px);
    color: #FF5B5B;
}

.rounded-pill.with-btn-delete .btn-delete-container {
    position: absolute;
    right: 12px;
}

.rounded-pill {
    background: #ffffff;
    border-radius: 20px;
    padding: 7px 15px 7px 15px;
    margin: 5px;
    display: flex;
}

.form.rounded-pill {
    width: 10rem;
    margin: 0 auto;
}

.pill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.btn-delete-container {
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
    transform: scale(0);
}

.rounded-pill:hover .btn-delete-container {
    transform: scale(1);
    cursor: pointer;
}

.text-center {
    overflow: scroll;
}

.dark-blue {
    color: #283972;
    margin-top: 10px;
}

.main-header-text {
    text-align: center;
    margin-top: 30px;
}

.main-logo {
    position: absolute;
    top: 0;
    right: 0;
}

.main-logo img {
    width: 14vw;
    margin: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

.p-pg-2 {
    margin-top: 30px;
    font-family: "Nunito", sans-serif;
}

.title-4 {
    font-family: "Nunito", sans-serif;
}

.mt-20 {
    margin-top: 130px;
}


/* ----- PAGE 4 ----- */

.rectangle-container {
    background: #e1e5ff;
    width: 40vw;
    height: 40vh;
    float: left;
    margin-top: 10px;
    overflow: scroll;
}


/* ----- PAGE 5 ----- */

.page-container-5 {
    height: 120vh;
}

.container.circle {
    width: fit-content;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.circle.rounded-pill {
    background: rgb(240, 240, 240);
}

.circle-container {
    width: 450px;
    height: 450px;
    -moz-border-radius: 225px;
    -webkit-border-radius: 225px;
    border-radius: 225px;
    position: relative;
}

.page-container-5 .pill-container {
    margin-bottom: 0;
}

.pills-location {
    width: fit-content;
    max-width: 20rem;
    margin: 0 auto;
}


/* blue */

.c1 {
    position: absolute;
    transform: translate(-400px, 250px);
    z-index: 2;
}

.c1 .pills-location {
    transform: translate(-150px, 50px);
}

.c1 .title-container {
    position: absolute;
    left: -40px;
}


/* green */

.c2 {
    text-align: center;
    position: absolute;
    transform: translate(-225px, 400px);
    z-index: 4;
}

.c2 .pills-location {
    transform: translate(0, 250px);
}

.c2 .title-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
}


/* red */

.c3 {
    text-align: right;
    position: absolute;
    transform: translate(-60px, 250px);
    z-index: 3;
}

.c3 .pills-location {
    transform: translate(150px, 50px);
}

.c3 .title-container {
    position: absolute;
    right: -20px;
}


/* yellow */

.c4 {
    text-align: center;
    position: absolute;
    transform: translate(-225px, 100px);
    z-index: 1;
}

.c4 .pills-location {
    transform: translate(0px, -10px);
}

.c4 .title-container {
    position: absolute;
    left: 0;
    right: 0;
    top: -65px
}