$radius: 15rem;
.circle25-container {
    text-align: center;
    width: $radius*2;
    height: $radius*2;
    border-radius: $radius;
    overflow: scroll;
    border: 8px solid #f84342;
    display: flex;
    justify-content: center;
}

.put-border {
    border: 1px solid black;
}

.pill-for-circle {
    width: fit-content;
    height: fit-content;
}

.pill-for-circle:hover {
    cursor: grab;
}

.pill-for-circle:active {
    cursor: grabbing;
}

.pill-for-circle span {
    height: auto;
}

.circle25 {
    background-color: grey;
    height: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}